
body{
    font-size: 14px;
    
} 


.wrapper{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center; 
}

.wrapper .submit_btn{
    
    padding:10px 15px;
    font-weight:500;
    
}





        
      